rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{gameId} {
      allow read: if request.auth != null
                  && request.auth.token.games is list
                  && gameId in request.auth.token.games;
      allow write: if false;
    }
  }
}
